*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#eef5ff;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:900px;
    background:white;
    padding:16px;
    border-radius:15px;
    display:flex;
    gap:70px;
    box-shadow:0 10px 30px rgba(0,0,0,.1);
}

.sidebar{
    width:275px;
    background-image:url("./assets/images/bg-sidebar-desktop.svg");
    background-size:cover;
    background-position:center;
    border-radius:10px;
    padding:35px;
}

.step{
    display:flex;
    align-items:center;
    margin-bottom:30px;
}

.step-number{
    width:35px;
    height:35px;
    border:1px solid white;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right:15px;
    font-weight:bold;
}

.active .step-number{
    background:#bfe2fd;
    color:#02295a;
}

.step-text p{
    color:#adbeff;
    font-size:12px;
    margin-bottom:4px;
}

.step-text h4{
    color:white;
    font-size:14px;
    letter-spacing:1px;
}

.content{
    flex:1;
    padding:40px 40px 20px 0;
}

.content h1{
    color:#02295a;
    margin-bottom:12px;
}

.content>p{
    color:#9699ab;
    margin-bottom:35px;
}

form{
    display:flex;
    flex-direction:column;
}

label{
    color:#02295a;
    margin-bottom:8px;
    font-size:14px;
}

input{
    padding:14px;
    border:1px solid #d6d9e6;
    border-radius:8px;
    margin-bottom:22px;
    font-size:16px;
}

input:focus{
    outline:none;
    border-color:#473dff;
}

button{
    align-self:flex-end;
    background:#02295a;
    color:white;
    border:none;
    padding:15px 25px;
    border-radius:8px;
    cursor:pointer;
    font-size:15px;
}

button:hover{
    background:#174a8b;
}

.hidden {
    display: none;
}

.plans{
    display:flex;
    gap:18px;
    margin-top:30px;
    margin-bottom:40px;
}

.plan_card{

    flex:1;

    border:1px solid #d6d9e6;

    border-radius:10px;

    padding:18px;

    cursor:pointer;

    transition:.25s;
}

.plan_card img{
    margin-bottom:45px;
}

.plan_card h3{
    color:#02295a;
    margin-bottom:6px;
}

.plan_card p{
    color:#9699ab;
    font-size:15px;
}

.plan_card:hover{

    border-color:#483eff;

}

.navigation{

    display:flex;

    justify-content:space-between;

    margin-top:50px;

}

.addon_card{

    display:flex;

    align-items:center;

    gap:18px;

    border:1px solid #d6d9e6;

    border-radius:10px;

    padding:18px;

    margin-bottom:18px;

    cursor:pointer;

}

.addon_card:hover{

    border-color:#483eff;

}

.addon_card input{

    margin:0;

}

.summary{

    background:#f8f9fe;

    border-radius:10px;

    padding:25px;

    margin:35px 0;

}

#total-price{

    color:#483eff;

}

.thank-you{

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    text-align:center;

    min-height:420px;

}

.thank-you img{

    margin-bottom:30px;

}

.thank-you p{

    max-width:420px;

    color:#9699ab;

    line-height:1.7;

}